img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.conjunto {
    position: relative;
}
.marinho {
    position: relative;
    z-index: 1;
    height: 100px;
    border: 3px solid navy;
    margin: 30px;
}
.cinza {
    position: absolute;
    z-index: 2;
    background: lightgray;
    height: 60px;
    width: 60%;
    left: 50px;
    top: 50px;
}
.verde {
    position: absolute;
    z-index: 2;
    background: lightgreen;
    height: 100px;
    width: 30%;
    left: 270px;
    top: -15px;
}
